:root {
  /* colors */
  --white: #ecf0f1;
  --white-transparent: #ecf0f194;
  --black: #222;
  --primary: #1abc9c;
  --primary-dark: #16a085;
  --accent: #d35400;
  --error: #c0392b;
  --midnight-blue: #2c3e50;
  --grey: #b2bec3;
  /* fonts */
  --ff-main: "Lato", sans-serif;
  --ff-title: "Open Sans", sans-serif;
  /* font sizes */
  --fz-14: 0.875rem;
  --fz-16: 1rem;
  --fz-18: 1.125rem;
  --fz-24: 1.5rem;
  --fz-32: 2rem;
  --fz-44: 2.75rem;
  /* other */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.3);
  --shake: shake 0.3s ease-out;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--ff-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
}

a {
  color: var(--black);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

/* Formulaires */
label,
input,
textarea,
select,
option {
  font-size: var(--fz-18);
}

label {
  margin-bottom: 8px;
}

input,
textarea,
select,
option {
  padding: 8px 16px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  font-family: var(--ff-main);
  background: var(--white-transparent);
  border-color: var(--grey);
}
input:not([type=radio], [type=checkbox]):focus,
textarea:not([type=radio], [type=checkbox]):focus,
select:not([type=radio], [type=checkbox]):focus,
option:not([type=radio], [type=checkbox]):focus {
  outline: none;
}
input:focus,
textarea:focus,
select:focus,
option:focus {
  border-color: var(--primary);
}
input.input-error,
textarea.input-error,
select.input-error,
option.input-error {
  border-color: var(--accent);
}

button {
  font-size: var(--fz-16);
  font-family: var(--ff-main);
}

.btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  color: var(--black);
  box-shadow: var(--box-shadow);
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}
.btn:hover {
  transition: opacity 0.2s ease-out;
  opacity: 0.85;
}
.btn:hover i,
.btn:hover img {
  animation: shake 0.3s ease-out;
}
.btn--primary {
  background: var(--primary);
}
.btn--accent {
  background: var(--accent);
  color: var(--white);
}
.btn--error {
  background: var(--error);
  color: var(--white);
}

.section--1100 {
  max-width: 1100px;
  margin: 0 auto 120px;
}
@media screen and (max-width: 1100px) {
  .section--1100 {
    padding: 16px;
  }
}

.main-title {
  font-size: var(--fz-44);
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
@media screen and (max-width: 750px) {
  .main-title {
    font-size: var(--fz-32);
  }
}

.section__title {
  font-size: var(--fz-32);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.subtitle {
  font-size: var(--fz-18);
}

.card {
  background: #fff;
  padding: 32px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.separator {
  height: 1px;
  width: 100%;
  background: var(--grey);
}

.light {
  font-weight: 300;
}

.white {
  color: var(--white);
}

.center {
  text-align: center;
}

/* Formulaires */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-error {
  color: var(--error);
  font-size: var(--fz-14);
  font-weight: 600;
}

.password-input-container {
  width: 100%;
  position: relative;
}
.password-input-container input {
  width: 100%;
}

.forgotten-password {
  text-align: right;
  font-size: var(--fz-14);
  transition: opacity 0.2s ease-out;
}
.forgotten-password:hover {
  opacity: 0.75;
  transition: opacity 0.2s ease-out;
}

.password-visibility-toggler {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}
.password-visibility-toggler:hover {
  opacity: 0.75;
  transition: opacity 0.2s ease-out;
}

.controls-group,
.reaction-group {
  display: flex;
  justify-content: flex-end;
}

.controls-group {
  margin-top: 32px;
  gap: 8px;
}
.controls-group button,
.controls-group a {
  font-weight: 600;
}

.reaction-group {
  gap: 16px;
}
.reaction-group a,
.reaction-group button {
  font-size: var(--fz-24);
  cursor: pointer;
  padding: 8px;
}
.reaction-group__container {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* margin padding */
.mt-16 {
  margin-top: 16px;
}

@keyframes shake {
  25% {
    transform: translateX(3%);
  }
  33% {
    transform: translateX(-3%);
  }
  40% {
    transform: translateX(3%);
  }
  61% {
    transform: translateX(-3%);
  }
  85% {
    transform: translateX(3%);
  }
}
/* Header */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  z-index: 10;
}
.header--main {
  background: var(--primary);
  box-shadow: var(--box-shadow);
}

.header__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__logo-link--white {
  color: var(--white);
}
.header__logo-link:hover .logo__image {
  animation: var(--shake);
}

.logo__text {
  font-family: var(--ff-title);
  font-size: var(--fz-32);
  font-weight: 1000;
  margin-left: 16px;
}

.mobile-menu__toggler {
  display: none;
  width: 32px;
  border: none;
  background: none;
  cursor: pointer;
}
.mobile-menu__toggler:hover .mobile-menu__toggler-icon {
  animation: var(--shake);
}
@media screen and (max-width: 900px) {
  .mobile-menu__toggler {
    display: block;
  }
}

.main-navigation {
  display: flex;
  gap: 16px;
}
.main-navigation__link {
  position: relative;
  font-size: var(--fz-18);
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}
.main-navigation__link:hover {
  background: var(--primary-dark);
  transition: opacity 0.2s ease-out;
}
.main-navigation__link--active {
  background: var(--primary-dark);
}
@media screen and (max-width: 900px) {
  .main-navigation {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary);
    padding: 16px;
    box-shadow: var(--box-shadow);
    flex-direction: column;
    align-items: center;
  }
  .main-navigation--active {
    display: flex;
  }
}

/* footer */
.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background: var(--midnight-blue);
  padding: 16px 32px;
  text-align: center;
}
.footer::before {
  content: "";
  position: absolute;
  top: -56px;
  right: 64px;
  width: 64px;
  height: 64px;
  background: url(../images/wool.png);
}
.footer__link {
  color: var(--white);
}
.footer__link--network {
  font-size: var(--fz-24);
  text-decoration: none;
  margin-left: 16px;
}
.footer__link--network:hover i {
  animation: var(--shake);
}
@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
    gap: 32px;
  }
  .footer__container {
    order: 2;
  }
  .footer__navigation {
    order: 1;
  }
}

/*# sourceMappingURL=style.css.map */
