html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--ff-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
}

a {
  color: var(--black);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

/* Formulaires */
label,
input,
textarea,
select,
option {
  font-size: var(--fz-18);
}

label {
  margin-bottom: 8px;
}

input,
textarea,
select,
option {
  padding: 8px 16px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  font-family: var(--ff-main);

  &:not([type="radio"], [type="checkbox"]):focus {
    outline: none;
  }

  background: var(--white-transparent);
  border-color: var(--grey);

  &:focus {
    border-color: var(--primary);
  }
  &.input-error {
    border-color: var(--accent);
  }
}

button {
  font-size: var(--fz-16);
  font-family: var(--ff-main);
}
