@use "./media-queries" as *;

.btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  color: var(--black);
  box-shadow: var(--box-shadow);
  transition: opacity 0.2s ease-out;
  cursor: pointer;

  &:hover {
    transition: opacity 0.2s ease-out;
    opacity: 0.85;

    i,
    img {
      animation: shake 0.3s ease-out;
    }
  }

  &--primary {
    background: var(--primary);
  }

  &--accent {
    background: var(--accent);
    color: var(--white);
  }

  &--error {
    background: var(--error);
    color: var(--white);
  }
}

.section {
  &--1100 {
    max-width: 1100px;
    margin: 0 auto 120px;

    @include max1100 {
      padding: 16px;
    }
  }
}

.main-title {
  font-size: var(--fz-44);
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;

  @include max750 {
    font-size: var(--fz-32);
  }
}

.section__title {
  font-size: var(--fz-32);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.subtitle {
  font-size: var(--fz-18);
}

.card {
  background: #fff;
  padding: 32px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.separator {
  height: 1px;
  width: 100%;
  background: var(--grey);
}

.light {
  font-weight: 300;
}

.white {
  color: var(--white);
}

.center {
  text-align: center;
}

/* Formulaires */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-error {
  color: var(--error);
  font-size: var(--fz-14);
  font-weight: 600;
}

.password-input-container {
  width: 100%;
  position: relative;

  input {
    width: 100%;
  }
}

.forgotten-password {
  text-align: right;
  font-size: var(--fz-14);
  transition: opacity 0.2s ease-out;

  &:hover {
    opacity: 0.75;
    transition: opacity 0.2s ease-out;
  }
}

.password-visibility-toggler {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease-out;

  &:hover {
    opacity: 0.75;
    transition: opacity 0.2s ease-out;
  }
}

.controls-group,
.reaction-group {
  display: flex;
  justify-content: flex-end;
}
.controls-group {
  margin-top: 32px;
  gap: 8px;

  button,
  a {
    font-weight: 600;
  }
}

.reaction-group {
  gap: 16px;
  a,
  button {
    font-size: var(--fz-24);
    cursor: pointer;
    padding: 8px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

/* margin padding */

.mt-16 {
  margin-top: 16px;
}
